<!-- navigation-menu.liquid -->
<nav 
  :class="{
    'opacity-100': is_scrolled, 
    'opacity-0 transform -translate-y-12': !is_scrolled 
  }" 
  class="hidden md:flex items-center justify-between w-full text-white font-semibold transition-all duration-300 transform"
>
  <!-- Primer Div: Todo el Menú -->
  <div class="flex items-center space-x-8">
    {% for link in links_var %}
      <div x-data="{ open: false }" class="relative">
        {% if link.links != blank %}
          <button @click="open = !open" class="hover:text-gray-300 transition duration-300 flex items-center space-x-2">
            <span>{{ link.title }}</span>
            {% render 'icon-chevron-down' %}
          </button>
          
          <!-- Sub-enlaces -->
          <!-- Sub-enlaces -->
        <div x-show="open" @click.away="open = false" x-transition 
        class="absolute left-0 bg-gray-800 text-white p-4 mt-2 rounded-md shadow-lg w-max">
        <nav>
        {% for sublink in link.links %}
        <a href="{{ sublink.url }}" class="block text-white hover:text-gray-300 transition duration-300">
          {{ sublink.title }}
        </a>
        {% endfor %}
        </nav>
        </div>

        {% else %}
          <a href="{{ link.url }}" class="hover:text-gray-300 transition duration-300">
            {{ link.title }}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <!-- Segundo Div: Carrito y Login/Registro -->
  <div class="flex items-center space-x-6">
    <!-- Carrito -->
    <a href="{{ routes.cart_url }}" class="hover:text-gray-300 transition duration-300">
      {% render 'icon-shopping-bag' %}
    </a>

    <!-- Login/Registro -->
    <div class="flex items-center space-x-4">
      {% if shop.customer_accounts_enabled %} 
      
        <!-- Si el cliente no está autenticado -->
        <a href="/account/login" class="hover:text-gray-300 transition duration-300">Iniciar sesión</a>
        <a href="/account/register" class="hover:text-gray-300 transition duration-300">Registrarse</a>
    {% endif %}
    </div>
  </div>
</nav>
